/* Reset default margin and padding properties */
* {
    margin: 0;
    padding: 0;
}

/* YouTube fonts */
body {
    font-family: Roboto, Arial, sans-serif
}

/* Style to the navbar which contains the search form and various icons */
.main-navbar {
    width: 100%;
    height: 32px;
    position: fixed;
    border-bottom: 1px solid gray;
    padding-bottom: 8px;
    padding-top: 8px;
    background-color: white;
    z-index: 10;
}

/* The hamburguer like icon at the navbar */
#menu-icon {
    padding: 5px 20px;
}

/* The YouTube logo in the navbar */
#youtube-logo {
    position: relative;
    bottom: 6px;
}

/* The search bar */
.search-bar {
    display: inline;
    width: 50%;
    height: 24px;
    position: relative;
    bottom: 12px;
    margin-left: 150px;
}

/* Container which has the search form, button and magnifying glass image */
.search-container {
    display: inline;
    position: relative;
    right: 6px;
    bottom: 17px;
}
/* Search button */
.search-button {
    width: 50px;
    height: 29px;
    background-color: #eee; 
    border: 1px solid #777;
    position: absolute;
    top: 0;
    left: 0;
}
/* Magnifying glass image */
#m-glass {
    width: 24px;
    position: absolute;
    left: 13px;
    right: 13px;
    top: 2px;
    bottom: 2px;
}

/* Div used to contain the right icons in the navbar */
.navbar-right-icons {
    display: inline;
    float: right;
    margin-right: 10px;
    position: relative;
    bottom: 4px;
}

/* Style used for the right icons */
.right-icons {
    width: 24px;
    margin-right: 25px;
}

/*Style for the user pic*/
#user-pic {
    width: 32px;
    position: relative;
    top: 2px;
}

/*The style used for the main content of the page */
.main-content {
    position: relative;
    top: 70px;
    z-index: 1;
    width: 90%;
    background: lightblue;
    margin: 0 auto;
}

/* Style used to the left column in the main section */
.left-section {
    width: 75%;
    background: lightseagreen;
}

/* Style used for the container which contains the video */
.video-container {
    width: 100%;
    height: 562px;
    background: orange;
    border-bottom: 1px solid #777;
}

/* Style used for the text in the video container section */
.text-video-elements {
    margin-top: 15px;
}

/* Style used to the visualizations counter */
#visualization-number {
    color: #777;
    display: inline;
    position: relative;
    top: 15px;
    background: blue;
}

/* Style used for the statistics div container */
.statistics-container {
    float: right;
    margin-right: 15px;
    background: white;
    position: relative;
    top: 15px;
}

/* The text elements for the statistics */
.statistics-text {
    margin-right: 25px;
    position: relative;
    bottom: 5px;
    color: #777;
    font-weight: bold;
    text-decoration: uppercase;
    font-size: 12px;
}

/* Sytle used for the icons at the statistics section */
.statistics-icons {
    width: 20px;
}

/* Style for the square used to put a thicker line above the line that divides the video section */
.square {
    width: 130px;
    height: 2px;
    background-color: #777;
    z-index: 10;
    position: relative;
    top: 8px;
}

/* Style for the publisher's logo */
#publisher-logo {
    position: relative;
    height: 100%;
    display: inline;
    top: 20px;
    background-color: aqua;
}

/* Styling for the container of the description */
.description-container {
    border-bottom: 1px solid #777;
    background: greenyellow;
}

/* Style for the text inside the description container */
.text-description-container {
    padding-left: 70px;
    padding-right: 25%;
    position: relative;
    bottom: 15px;
}

/* Style for the title of the publisher of the video */
#publisher-title {
    font-size: 14px;
}

/* Style for the publish date of the video */
#publish-date {
    position: relative;
    bottom: 2px;
}

/* Style for the subscribe button */
#subscribe-button {
    background-color: #FF0000;
    float: right;
    color: white;
    position: relative;
    left: 210px;
    bottom: 15px;
    text-transform: uppercase;
    padding: 10px 18px;
    border: 1px solid #FF0000;
    font-size: 14px;
}

/* Style for the category label */
#category-label {
    color: #777;
}

/* Style for the show less label*/
#show-less {
    color: #777;
    text-transform: uppercase;
    font-size: 14px;
}

/* Style for the small tags*/
small {
    color: #777;
}

/* Style for the links inside a span */
span a:link {
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    margin-left: 60px;
}
.comments-statistics {
    margin-top: 20px;
}
#comments-total {
    font-weight: normal;
    font-size: 16px;
    display: inline;
    margin-right: 30px;
}
#sort-options {
    font-weight: normal;
    color: #777;
    margin-left: 5px;
}
#user-picture {
    margin-right: 10px;

}
#user-comment {
    float: right;
    position: relative;
    bottom: 6px;
    width: 96%;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 5px;
    
}
#user-comment:focus {
    border-bottom: 2px solid black;
}
form {
    display: inline;
}
.user-comment-buttons {
    display: inline;
    float: right;
}
section {
    background: white;
}